
body {
    background: hsl(217, 54%, 11%);
    font-family: 'outfit',sans-serif;
    font-weight: 00, 400, 600;

   } 


.card{
    display: flex;
    flex-direction: column;
    background: hsl(216, 50%, 16%);
    width: 375px;
    border-radius: 10px;
    justify-content: center;
    margin-left: 35%;
    margin-top: 10%;
    
}
.card img {
    padding: 15px;
    width: 85%;
    margin: 10px 10px 10px 10px;
    border: solid hsl(216, 50%, 16%);;
    border-radius: 30px;
}
p{
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    text-align: left;
    padding-left: 30px;
    padding-top: 0;
    
}
.eth{
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: flex-start;
}
.eth img {
    width: 2.8%;
    padding-left:21px;
    padding-top: 0;
    padding-bottom:5px;
}
.creator{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.creator img {
    width: 10%;
    padding-top: 0;
}
hr {
    width: 80%;
    color:hsl(215, 32%, 27%) ;

    
}
    
